/* Import rtd theme */
@import url(theme.css);

/* Customize for QGIS Documentation*/
.rst-content .guilabel {
 background:#7fbbe3
}

.rst-content .menuselection {
	border: 1px solid #69db6e;
	background: #e7f2fa;
	font-size: 80%;
	font-weight: 700;
	border-radius: 4px;
	padding: 2.4px 6px;
	margin: auto 2px;
}
